<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <small>{{site.brief-intro}}</small>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>

                {% for each_page in site.pages %}
                    {% if each_page.type == 'page' %}
                    <li>
                        {% if each_page.url == page.url %}
                        <a class="active" href="{{ each_page.url | prepend: site.baseurl }}">
                            {% else %}
                        <a href="{{ each_page.url | prepend: site.baseurl }}">
                        {% endif %}
                            <i class="fa fa-{{each_page.icon}}"></i>{{ each_page.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
